/* Element Selectors */
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.ai-c {
  align-items: center;
}

.bgc-boringblue {
  background-color: rgb(37, 137, 189);
}

.bgc-steelblue {
  background-color: steelblue;
}

.bold {
  font-weight: bold;
}

.d-f {
  display: flex;
}

.w-100 {
  width: 100%;
}

.bgc-royalblue {
  background-color: royalblue;
}

.bgc-lightgray {
  background-color: lightgray;
}

.c-white {
  color: white;
}

.g {
  gap: 1.5rem;
}

.jc-sb {
  justify-content: space-between;
}

.list-n {
  list-style: none;
  text-decoration: none;
}

.p {
  padding: 1.5rem;
}

.p\+ {
  padding: 3rem;
}

.p0 {
  padding: 0;
}

.pl {
  padding-left: 1.5rem;
}

.m0 {
  margin: 0;
}

.ml {
  margin-left: 1.5rem;
}

.mt {
  margin-top: 1.5rem;
}

.ff-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fg-1 {
  flex-grow: 1;
}

.fx-1 {
  flex: 1 0 0;
}

.fxd-c {
  flex-direction: column;
}

.fw-700 {
  font-weight: 700;
}

.fz-2 {
  font-size: 2rem;
}

.fz-12 {
  font-size: 1.2rem;
}
.fz-s {
  font-size: small;
}

.h-100vh {
  height: 100vh;
}

.mw-60 {
  max-width: 60rem;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

/* media query */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }
  .fg-1\@lrg {
    flex-grow: 1;
  }
  .fg-4\@lrg {
    flex-grow: 4;
  }
  .ml\@lrg {
    margin-left: 1.5rem;
  }
}

@media (max-width: 768px) {
  .ta-c\@min {
    text-align: center;
  }
  .ai-c\@min {
    align-items: center;
  }
}
