/* Element Selectors */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.ai-c {
  align-items: center;
}

.bgc-boringblue {
  background-color: rgb(37, 137, 189);
}

.bgc-steelblue {
  background-color: steelblue;
}

.d-f {
  display: flex;
}

.w-100 {
  width: 100%;
}

.bgc-royalblue {
  background-color: royalblue;
}

.bgc-lightgray {
  background-color: lightgray;
}

.c-white {
  color: white;
}

.jc-sb {
  justify-content: space-between;
}

.list-n {
  list-style: none;
  text-decoration: none;
}

.p {
  padding: 1.5rem;
}

.m0 {
  margin: 0;
}

.ml {
  margin-left: 1.5rem;
}

.mt {
  margin-top: 1.5rem;
}

.ff-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.fz-2 {
  font-size: 2rem;
}

/* media query */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }
}
